body{
    font-family: 'El Messiri', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'El Messiri', sans-serif;
}

label.required:after{
    display: inline;
    content: '*';
    color: red;
}
.swal-text{
    text-align: center;
}
